In [12]:
import pandas as pd
df=pd.read_csv('bank.csv')

In [13]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [14]:
df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [4]:
df.deposit.unique()

array(['yes', 'no'], dtype=object)

In [5]:
df.marital.unique()

array(['married', 'single', 'divorced'], dtype=object)

In [17]:
df.marital.unique()

array([1, 2, 0])

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['marital']=le.fit_transform(df['marital'])

In [11]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [8]:
def replace_marital(val):
    if val== 'single':
        return 0
    elif val=='married':
            return 1
    else:
        return 2
        
df['marital']=df['marital'].apply(replace_marital,1)

In [18]:
df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,1,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,1,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes

In [38]:
df[df.iloc[:,5]==2343]=0

In [45]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=0,strategy='mean',verbose=True)

In [47]:
df.iloc[:,5]=imputer.fit_transform(df.iloc[:,5].values.reshape(-1,1))